{% extends "base.html" %}
{% block content %}
{% load leaflet_tags %}
{% load staticfiles %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

<style type="text/css">
    .leaflet-container {  /* all maps */
        width:  100%;
        height: 1000px;
    }
</style>

<body>
<div id="map">
{% leaflet_map "main" callback="main_map_init" %}
</div>
<script>

var x = document.getElementById("demo");

</script>
        <script type="text/javascript">
        function main_map_init (map, options) {
            var myElements = document.querySelectorAll(".leaflet-container");

for (var i = 0; i < myElements.length; i++) {
    myElements[i].style.height = screen.height*.75 + 'px';
}

            {% for photo in photos %}
            var dataurl = '{% url "p_geodata" photo.id %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
            // Add GeoJSON layer
            L.geoJson(data).addTo(map);
            });
            {% endfor %}

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }
            function showPosition(position) {
                map.setView([parseFloat(position.coords.latitude), parseFloat(position.coords.longitude)], 19);
            }
            getLocation();
        }
    </script>
    </div>
</body>

{% endblock %}